// fof/night-mode support for the Diff extension
// i think we need to redefine almost all of the colors
// to make this support happen, such a shame...

body.dark {
  @secondary-color: @config-secondary-color;
  @secondary-hue: hue(@secondary-color);
  @secondary-sat: saturation(@secondary-color);
  @control-bg: hsl(@secondary-hue, min(20%, @secondary-sat), 13%);
  @muted-color: hsl(@secondary-hue, min(15%, @secondary-sat), 50%);
  @body-bg: hsl(@secondary-hue, min(20%, @secondary-sat), 10%);
  @overlay-bg: fade(darken(@body-bg, 5%), 90%);
  @control-color: @muted-color;
  @header-control-color: @control-color;
  @text-color: #ddd;

  // variables for the diff's dark mode
  @import 'variables/dark-mode.less';

  .DiffModal {
    .Modal-body {
      background: @body-bg;
    }

    .diff-grid {
      & > .diff-grid-item {
        &.diff-grid-info .revisionInfo {
          color: @control-color;
        }

        &.diff-grid-revisions {
          border-color: @control-bg;
        }

        &.diff-grid-diff {
          border-color: @control-bg;

          .diffContents .diffContainer > div.noDiff > p {
            color: @control-color;
          }
        }
      }
    }

    .DiffModal-loading {
      background: fade(@body-bg, 90%);
    }

    .TheTurkDiff.CustomDiff.diff-wrapper {
      .diff-stripes(lighten(@control-bg, 4%), darken(@control-bg, 3%));

      &.diff-html .change {
        .old {
          border-color: @diff-old-version-bg-color-border;

          &:not(.none) {
            background: @diff-old-version-bg-color;
          }
        }

        .new {
          border-color: @diff-new-version-bg-color-border;

          &:not(.none) {
            background: @diff-new-version-bg-color;
          }
        }

        .rep {
          border-color: @diff-change-version-del-color-border;
          background: @body-bg;
        }

        .rep-del {
          border-color: @diff-change-version-del-color-border;
          background: @diff-change-version-del-color;
        }

        .rep-ins {
          border-color: @diff-change-version-ins-color-border;
          background: @diff-change-version-ins-color;
        }

        &.change-eq {
          .new,
          .old {
            border-color: @diff-info-color-border;
            background: @body-bg;
            color: @muted-color;
          }
        }

        ins {
          background-color: @diff-new-version-ins-color;
        }

        del {
          background-color: @diff-old-version-del-color;
        }

        .new.none,
        .old.none,
        .rep.none {
          border-color: @diff-info-color-border;
        }
      }
    }
  }

  .DiffDropdown .DiffList-header {
    border-color: @control-bg;

    & > h4 {
      color: @muted-color;
    }
  }

  .DiffList-container .DiffList-content {
    & > ul > li.Diff {
      color: @muted-color;

      &:hover {
        background: lighten(@control-bg, 5%);
      }

      &.active {
        background: @control-bg;
      }

      & > a,
      & > button,
      & > span {
        color: @text-color;
      }

      &.SubDiff > button {
        color: @muted-color;
      }
    }

    .DiffList-empty {
      color: @muted-color;
    }
  }

  @media @tablet-up {
    .DiffModal .diff-grid > .diff-grid-item.diff-grid-info {
      border-color: @control-bg;
    }
  }

  @media @phone {
    .DiffModal .diff-grid > .diff-grid-item.diff-grid-controls {
      border-color: @control-bg;
    }
  }
}
