// LESS variables for diff extension.

// @diff-config-custom-html
@diff-old-version-color:             #f8cbcb;
@diff-new-version-color:             #cbf8cb;
@diff-original-lines-border-color:   #f9c513;
@diff-mixed-version-color:           lighten(mix(@diff-old-version-color, @diff-new-version-color), 2%);
